<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Tinchi Layouts</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>

  <body class="fvh fvw f cs">
    <main class="f1 f cc">
      <h2>Centered full body</h2>
      <code>
        <pre>
&lt;body class=&quot;fvh fvw f cs&quot;&gt;
  &lt;main class=&quot;f1 f cc&quot;&gt;
    &lt;h2&gt;Centered full body&lt;/h2&gt;
  &lt;/main&gt;
&lt;/body&gt;     
      </pre>
      </code>
    </main>
  </body>
</html>
