/** Section: Animations **/
/* pulse animation */
.anim_pulse {
    animation: pulse 0.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}
/* spin animation */
.anim_spin {
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}