:root {
    --main-font-color: #000003;
    --main-bg-color: #fbfcfe;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: #fbfcfe;
        --main-bg-color: #000003;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-font-color: #000003;
        --main-bg-color: #fbfcfe;
    }
}

:root {
    --accent-color: #646cff;
    --accent-v1-color: #535bf2;
    --danger-color: #db3a34;
    --danger-v1-color: #9c2723;
    --warning-color: #ed9b40;
    --warning-v1-color: #bb7b32;
    --success-color: #3bceac;
    --success-v1-color: #2a977e;

    --border-radius: .6rem;
    --input-border-radius: 10px;
    --pad: 1rem;
    --font-size: 16px;
    --small-font-size: 12px;
    --medium-font-size: 18px;

    --borders: 2px var(--main-font-color) solid;
    --thin-borders: 2px var(--main-font-color) solid;
    --box-shadow: 0 .2rem 1rem var(--main-font-color);

    line-height: 1.5;

    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}